.App {
  text-align: center;
  background-color: rgb(24, 24, 24);
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.text {
  text-align: center;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  background-color: rgb(94, 94, 94);
}
