.App {
  text-align: center;
  background-color: rgb(24, 24, 24);
  position: fixed;
  width: 100vw;
  height: 100vh;
  color: white;
}

.text {
  text-align: center;
}

@media screen and (max-width: 992px) {
  .searchText {
    display: none;
  }
}

.SearchInput {
  width: 600px;
}

.SearchInput:focus {
  outline: none !important;
  border-color: #007c1b;
  box-shadow: 0 0 10px #007c1b;
}

.SearchButton {
  width: 50px;
  margin-left: 5px;
  background: none;
  border-color: #29b919;
  color: #29b919;
  border-radius: 4px;
}

.LoginForm {
  width: 20%;
  margin: auto;
  border: solid;
  border-radius: 6px;
  border-color: #29b919;
}

.LoginContainer {
  width: 70%;
  margin: auto;
}

.InputBar {
  display: flex;
}

.HamburgerItems {
  display: flex;
  width: 100px;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

.Hamburger {
  margin-right: 5px;
}

.HamburgerItem {
  background-color: rgb(24, 24, 24);
  height: 30px;
  color: white;
}
