.App {
  color: white;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  top: 62px;
}

::-webkit-scrollbar-track {
  background-color: #38281c;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #007c1b;
  border-radius: 2px;
}

.Background {
  background-color: rgb(24, 24, 24);
  position: fixed;

  z-index: -4;
  height: 100vh;
  width: 100vw;
  top: 62px;
}

.text {
  text-align: center;
}

.center {
  display: flex;
  margin: auto;
}

/* Login Page */
/* Login Page */
/* Login Page */
.LoginForm {
  width: 25%;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: start;
}

.LoginTitle {
  margin-top: 50px;
  margin-bottom: -5px;
}

.LoginInputTitle {
  margin-top: 20px;
}

.LoginInput {
  width: 100%;
  background-color: rgb(45, 45, 45);
  border-style: solid;
  border-width: 1px;
}

.LoginSubmit {
  margin-top: 20px;
  margin-left: 5px;
  width: 95%;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.RegisterLink {
  text-align: center;
  margin-top: 5px;
}

/* navbar */
/* navbar */
/* navbar */
.SearchInput {
  width: 500px;
  color: white;
  background: rgb(45, 45, 45);
  border-style: solid;
  border-width: 1px;
  border-color: #007c1b;
}

.SearchInput:focus {
  outline: none !important;
  border-color: #007c1b;
  box-shadow: 0 0 10px #007c1b;
}

.SearchButton {
  width: 50px;
  margin-left: 5px;
  background: none;
  border-color: #29b919;
  color: #29b919;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}

.LoginContainer {
  width: 70%;
  margin: auto;
}

.InputBar {
  display: flex;
  margin: auto;
}

.HamburgerItems {
  display: flex;
  width: 100px;
  flex-direction: column;
  position: fixed;
}

.Hamburger {
  margin-right: 5px;
}

.HamburgerItem {
  background-color: rgb(24, 24, 24);
  height: 30px;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #007c1b;
}

.SideElementContainer {
  width: 270px;
}

/* Add Item Modal */
/* Add Item Modal */
.ModalBackground {
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.Modal {
  margin: auto;
  width: 600px;
  display: flex;
}

/* Footer */
/* Footer */
.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 240px;
  background-color: rgb(28, 28, 28);
  color: white;
  margin-top: 62px;
  display: flex;
  z-index: -4;
}

.FooterSpace {
  height: 240px;
  position: relative;
}

.FooterForm {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-right: 80px;
  justify-content: space-around;
  align-items: center;
}

.FooterLinks {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
