.DashboardTitle {
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.ProfileGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  grid-gap: 10px;
  margin-bottom: 10px;
}

.ProfileButton {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  border-style: none;
}

.AdminGrid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 130px 130px 130px;
  grid-gap: 10px;
}

.AdminButton {
  width: 100%;
  height: 100%;
  background-color: rgb(216, 255, 77);
  border-style: none;
}

/* Profile */
/* Profile */
.ProfileTitleBox {
  display: flex;
}

.ProfileBackButton {
  width: 90px;
  margin-right: -90px;
}

.ProfileTitle {
  margin: auto;
}

.UpdateProfileButton {
  width: 130px;
  margin-left: -130px;
}

.ProfileInfoBox {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 30px;
  border-style: solid;
  border-radius: 16px;
  margin: auto;
  margin-top: 60px;
  font-size: 20px;
}

.ProfileInfoTitle {
  margin: auto;
  margin-bottom: 20px;
}

.ProfileInfoItem {
  display: flex;
  margin-top: 5px;
}

.ProfileInfoTag {
  margin-right: 120px;
  width: 0px;
}

/* Update Profile */
/* Update Profile */
.UpdateProfileBox {
  margin: auto;
  width: 85%;
  background-color: rgb(27, 27, 27);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #007c1b;
  padding: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.UpdateProfileTitle {
  margin: auto;
  margin-top: -10px;
  margin-bottom: 45px;
}

.UpdateProfileItem {
  display: flex;
  margin-bottom: 10px;
}

.UpdateProfileItemTag {
  margin-right: 120px;
  width: 0px;
}

.UpdateProfileInput {
  width: 72%;
}

.UpdateProfileSubmit {
  width: 100px;
  margin: auto;
  margin-top: 20px;
}

/* User */
/* User */
.UserTitleBox {
  display: flex;
}

.UserBackButton {
  width: 90px;
  margin-right: -90px;
}

.UserTitle {
  margin: auto;
}

.UpdateUserButton {
  width: 130px;
  margin-left: -130px;
}

.UserInfoBox {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 30px;
  border-style: solid;
  border-radius: 16px;
  margin: auto;
  margin-top: 60px;
  font-size: 20px;
}

.UserInfoTitle {
  margin: auto;
  margin-bottom: 20px;
}

.UserInfoItem {
  display: flex;
  margin-top: 5px;
}

.UserInfoTag {
  margin-right: 120px;
  width: 0px;
}

/* Update User */
/* Update User */
.UpdateUserBox {
  margin: auto;
  width: 85%;
  background-color: rgb(27, 27, 27);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #007c1b;
  padding: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.UpdateUserTitle {
  margin: auto;
  margin-top: -10px;
  margin-bottom: 45px;
}

.UpdateUserItem {
  display: flex;
  margin-bottom: 10px;
}

.UpdateUserItemTag {
  margin-right: 120px;
  width: 0px;
}

.UpdateUserInput {
  width: 72%;
}

.UpdateUserSubmit {
  width: 100px;
  margin: auto;
  margin-top: 20px;
}

/* Cart */
.CartContainer {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: flex-start;
}

.ShoppingCart {
  width: 75%;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 10px;
  overflow: hidden;
}

.ShoppingCartTitle {
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  border-width: 1px;
}

.ShoppingCartItem {
  display: flex;
  align-items: center;
  border-bottom-style: solid;
  border-width: 1px;
}

.ShoppingCartItemCheckBox {
  margin-left: 25px;
}

.ShoppingCartImage {
  width: 100px;
  height: 100px;
  margin-left: 25px;
  margin-right: 25px;
}

.ShoppingCartItemInfo {
  display: flex;
  flex-direction: column;
}

.CheckoutBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-radius: 10px;
  overflow: hidden;
  width: 230px;
}

/* Wishlist */
/* Wishlist */

.Wishlist {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 10px;
  overflow: hidden;
}
