.TitleBox {
  display: flex;
  margin-bottom: 30px;
}

/* Update Headerimages */
/* Update Headerimages */
.BackButton {
  width: 90px;
  margin-right: -90px;
}

.HeaderImagesTitle {
  margin: auto;
}

.UploadForm {
  display: flex;
  height: 30px;
}

.UploadText {
  margin-left: auto;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 20px;
}

.UploadInput {
}

.UploadButton {
  display: flex;
  margin-right: auto;
}

.HeaderImagesFlexBox {
  display: flex;
  margin-top: 20px;
  border-top-style: solid;
  border-width: 1px;

  flex-wrap: wrap;
}

.HeaderImageContainer {
  height: 250px;
  width: 350px;
  border: solid;
  border-color: #007c1b;
  border-radius: 20px;
  margin: 8px;
  overflow: hidden;
}

.HeaderImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.LoadingTag {
  position: absolute;
  margin-left: 88px;
  margin-top: 9px;
}

/* Inventory Item */
/* Inventory Item */
.InventoryItemTitle {
  margin: auto;
}

.InventoryItemForm {
  display: flex;
  margin-left: -280px;
}

.AddItemButton {
  height: 32px;
  padding: 3px;
  padding-top: 1px;
  border: none;
  background: none;
}

.AddItemIcon {
  font-size: 30px;
  color: #007c1b;
}

.CategoriesBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.CategoriesCenterBox {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.CategoryButton {
  width: 100px;
  margin: auto;
  margin-top: 4px;
}

/* Update Item */
/* Update Item */
.UpdateItemGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(0, 1fr);
  grid-gap: 75px;
}

.UpdateItemBox {
  border-style: solid;
  border-color: #007c1b;
  border-radius: 10px;
  overflow: hidden;
}

.CreateItemBox {
  border-style: solid;
  border-color: #007c1b;
  border-radius: 10px;
  width: 614px;
  overflow: hidden;
}

.UpdateItemInput {
  width: 65%;
  background-color: rgb(45, 45, 45);
  border-style: solid;
  border-width: 1px;
  margin-right: 20px;
}

.UpdateItemCheckbox {
  margin-right: 20px;
}

.UpdateFileInput {
  width: 92%;
  background-color: rgb(45, 45, 45);
  border-style: solid;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
}

.UpdateItemBoxTitle {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}

.UpdateItemInputFlexBox {
  display: flex;
  margin-bottom: 20px;
}

.UpdateItemInputTitle {
  margin-right: auto;
  margin-left: 20px;
}

.UpdateSubmitButton {
  width: 35%;
  margin: auto;
}

.DeleteItemButton {
  width: 150px;
  position: absolute;
  margin-top: 130px;
  margin-left: 180px;
}

/* Categories View */
/* Categories View */
.CategoriesContainer {
  width: 100%;
  border-style: solid;
  border-radius: 10px;
}

.CategoriesTitle {
  border-bottom-style: solid;
  border-width: 1px;
}

.CategoryItem {
  height: 100px;
  border-bottom-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
  display: flex;
}

.ClickItem {
  height: 100%;
  width: 100%;
  display: flex;
}

.CategoryCheckbox {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.CategoryInfoBox {
  margin-left: 10px;
}
