.ShopAboutBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('../../images/CatGrass.jpg');
  top: 0;
  left: 0;
  z-index: -3;
}

.ShopBackground {
  background-color: rgb(24, 24, 24);
  position: absolute;
  width: 120vw;
  left: -100px;
  z-index: -1;
}

/* Pets */
/* Pets */
.PetGrid {
  width: 100%;
  margin-top: -150px;
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 350px 350px;
  grid-gap: 20px;
  padding: 20px;
}

.PetContainer {
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  display: grid;
  grid-template-rows: minmax(0, 1fr) minmax(0, 3fr) minmax(0, 2fr);
  grid-gap: 12px;
  padding: 8px;
  background-color: black;
}

.PetContainerTitle {
  text-align: center;
}

.TopPetContainer {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  grid-gap: 12px;
}

.BottomPetContainer {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  grid-gap: 12px;
}

.PetContainerItemContainer {
  border-style: solid;
  border-radius: 5px;
}

.PetContainerImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* About */
/* About */
.AboutContainer {
  height: 470px;
  padding-left: 80px;
  padding-top: 60px;
}

.AboutInfoContainer {
  border-style: solid;
  border-color: #007c1b;
  border-radius: 20px;
  background-color: #38281c;
  height: 180px;
  width: 340px;
}

/* Sale */
/* Sale */
.SaleGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 420px;
  padding: 30px;
  grid-gap: 30px;
}

.SaleItemContainer {
  border-style: solid;
  border-radius: 6px;
}

/* Subscribe */
/* Subscribe */
.SubscribeContainer {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 40px;
}

.SubscribeTitle {
  margin: auto;
}

.SubscribeInputContainer {
  margin: auto;
}

.SubscribeInput {
  width: 100px;
  border-right: none;
  border-style: solid;
}

.SubscribeButton {
  width: 100px;
  border-left: none;
  border-style: solid;
}

.SubscribeBackground {
  background-color: #38281c;
  position: absolute;
  width: 120vw;
  left: -100px;
  z-index: -1;
}

/* Blog */
/* Blog */
.BlogSectionContainer {
  height: 505px;
  display: flex;
  flex-direction: column;
}

.BlogSectionTitleContainer {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}

.AllBlogsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.BlogContainer {
  display: flex;
  flex-direction: column;
}

.BlogImageContainer {
  margin: auto;
  height: 250px;
  width: 300px;
}

.BlogImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.BlogDate {
  margin: auto;
}

.BlogTitle {
  margin: auto;
}

/* Single Item */
/* Single Item */
.SingleItemPage {
  width: 100%;
  color: white;
}

.CategoryButtonBox {
  display: flex;
  margin-top: 20px;
  justify-content: start;
}

.SingleItem {
  display: flex;
}

.ItemImageContainer {
  height: 400px;
  width: 400px;
  border-style: solid;
  border-radius: 10px;
  margin-top: 10px;
}

.SingleItemInfo {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-left: 30px;
}

.SingleItemTitle {
  display: flex;
  justify-content: center;
}

.SingleItemBuyMenu {
  display: flex;
  flex-direction: column;
  width: 200px;
  border-style: solid;
  border-color: var(--green);
  border-radius: 8px;
}

.ItemBuyMenuVal {
  margin-bottom: 2px;
}
