.FooterLinkComponent {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  align-items: center;
  margin-top: 15px;
}

.FooterLinkTitle {
  margin-bottom: 25px;
}

.FooterLinkInfoBox {
  margin-bottom: 40px;
}

.FooterLinkInfoTitle {
  margin-bottom: 20px;
}

.FooterLinkInfoText {
  text-align: center;
}

/* Blogs */
/* Blogs */
.BlogsBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.Blog {
  display: flex;
  flex-direction: column;
  border-style: solid;
  margin-bottom: 10px;
}

.BlogImageContainer {
  height: 200px;
  width: 325px;
}

.TagsBox {
  display: flex;
  justify-content: center;
}
